<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sir">

    <supports-screens android:resizeable="true" />
    <supports-screens android:smallScreens="true" />
    <supports-screens android:normalScreens="true" />
    <supports-screens android:largeScreens="true" />
    <supports-screens android:anyDensity="true" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.sir.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <application
        android:name="com.sir.SAADApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="stateHidden|adjustPan"
        tools:replace="android:supportsRtl,icon"
        >

        <activity
            android:name="com.sir.Invoice.ViewInvoice_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings" />


        <activity
            android:name="com.sir.Receipts.ViewReceipt_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.sir.Splash_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name="com.sir.Home.GoProActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">

        </activity>

        <activity
            android:name="com.sir.SignupSignin.SignupSubscriptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">

        </activity>


        <activity
            android:name="com.sir.CN.ViewCreditNote_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <activity
            android:name="com.sir.CN.CreditNotesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <activity
            android:name="com.sir.PO.POActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>

        <activity
            android:name="com.sir.PO.ViewPO_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>

        <activity
            android:name="com.sir.PO.POViewActivityWebView"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>
        <activity
            android:name="com.sir.PO.POViewActivityWebViewPayment"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <activity
            android:name="com.sir.PO.EditPOActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <activity
            android:name="com.sir.PO.ConvertToPVActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>



        <activity
            android:name="com.sir.PV.PVActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <activity
            android:name="com.sir.PO.POToPVWebview"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>


        <activity
            android:name="com.sir.PV.ViewPV_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>


        <activity
            android:name="com.sir.PV.PVViewActivityWebView"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <activity
            android:name="com.sir.PV.EditEditPVActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>


        <activity
            android:name="com.sir.DN.DebitNotesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>


        <activity
            android:name="com.sir.DN.ViewDebitNote_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>

        <activity
            android:name="com.sir.DN.DebitNotesViewActivityWebView"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>



        <activity
            android:name="com.sir.Receipts.EditReceiptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>


        <activity
            android:name="com.sir.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">

        </activity>

        <activity
            android:name="com.sir.Xyz"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">

        </activity>


<!--        <activity-->
<!--            android:name="com.google.android.gm/ComposeActivityGmail"-->
<!--            android:screenOrientation="locked"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <activity
            android:name="com.sir.OnBoardings.OnBoarding_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings" />
        <activity
            android:name="com.sir.SignupSignin.Signup_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings" />
        <activity
            android:name="com.sir.SignupSignin.Signin_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings" />
        <activity
            android:name="com.sir.ForgotResetPassword.ResetPassword_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings" />
        <activity
            android:name="com.sir.ForgotResetPassword.ForgotPassword_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings" />
        <activity
            android:name="com.sir.SignupSignin.Verification_Code_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings" />
        <activity
            android:name="com.sir.Home.Settings_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings" />
        <activity
            android:name="com.sir.Home.Go_Premium_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/GoPremium" >


        </activity>
        <activity
            android:name="com.sir.Home.Home_Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Settings" >

        </activity>
        <activity
            android:name="com.sir.Estimate.EstimateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name="com.sir.Invoice.InvoiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>
        <activity
            android:name="com.sir.Invoice.ConvertToReceiptsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name="com.sir.Estimate.ConvertToInvoiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />


        <activity
            android:name="com.sir.Invoice.InvoiceToReceiptsWebview"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name="com.sir.Estimate.EstimateToInvoiceWebview"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name="com.sir.CN.CreditNotesViewActivityWebView"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />


        <!--
   <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
        -->
        <!--
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.mvc.imagepicker.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        -->
        <!--
 <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mvc.imagepicker.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>
        -->
        <activity
            android:name="com.sir.Customer.Customer_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.sir.Vendor.Vendor_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.sir.Company.Companies_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustResize" >

        </activity>
        <activity
            android:name="com.sir.Details.Company_Details_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.sir.Details.User_Detail_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.sir.Details.Product_Detail_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.sir.Details.Customer_Detail_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.sir.Details.Vendor_Detail_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.sir.Tax.Tax_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.sir.Service.Service_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.sir.Product.Product_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.sir.User.User_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.sir.Details.Service_Detail_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.sir.Stock.Stock_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.sir.Tax.Tax_Edit"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.sir.Details.Stock_Products_Detail"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.sir.Invoice.Add_Item_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.sir.Invoice.InvoiceViewActivityWebView"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.sir.Invoice.InvoiceViewActivityWebViewPayment"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name="com.sir.Receipts.ReceiptViewActivityWebView"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>

        <activity
            android:name="com.sir.Invoice.EditInvoiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />


        <activity
            android:name="com.sir.Receipts.ReceiptsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name="com.sir.Estimate.EstimateViewActivityWebView"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name="com.sir.Estimate.EditEstimateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />


        <activity
            android:name="com.sir.Receipts.EditEditReceiptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name="com.sir.Estimate.EditEditEstimateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />


        <activity
            android:name="com.sir.Estimate.ViewEstimate_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" />

        <activity
            android:name="com.sir.Invoice.ChooseTemplate"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>


        <activity
            android:name="com.sir.Customer.Customer_Detail_Activity2"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>


        <activity
            android:name="com.sir.Report.ReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>


        <activity
            android:name="com.sir.Report.ReportViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>

        <activity
            android:name="com.sir.Report.PreviewItActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>






        <activity
            android:name="com.sir.InvoiceReminder.InvoiceReminderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>

        <activity
            android:name="com.sir.InvoiceReminder.ViewInvoiceReminderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>

        <activity
            android:name="com.sir.InvoiceReminder.ViewInvoiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>

        <activity
            android:name="com.sir.InvoiceReminder.SendInvoiceReminderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>





        <activity
            android:name="com.sir.ThankYouNote.ThankYouNoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>

        <activity
            android:name="com.sir.ThankYouNote.ViewThankYouNoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>


        <activity
            android:name="com.sir.ThankYouNote.ViewInvoiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>


        <activity
            android:name="com.sir.ThankYouNote.SendThankYouNoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>



        <activity
            android:name="com.sir.Settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>


        <activity
            android:name="com.sir.Settings.WebShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>

        <activity
            android:name="com.sir.Settings.SupportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>


        <activity
            android:name="com.sir.Settings.LanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>


        <activity
            android:name="com.sir.Settings.FAQsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>

        <activity
            android:name="com.sir.Settings.OnlinePaymentGatewayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>

        <activity
            android:name="com.sir.Settings.PayPalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name="com.sir.Settings.StripeWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>



        <activity
            android:name="com.sir.Settings.SubscribeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>








        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <activity
            android:name="com.sir.Abc"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>


        <activity
            android:name="com.sir.mno"
            android:screenOrientation="portrait"
            android:theme="@style/Settings"
            android:windowSoftInputMode="adjustPan|adjustResize" >

        </activity>




        <service
            android:name="com.sir.FCM.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.sir.FCM.MyFirebaseMessagingService"
            android:stopWithTask="false"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name="com.sir.FCM.MyReciever"
            android:stopWithTask="false"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <category android:name="android.intent.category.HOME" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.sir"/>
            </intent-filter>

        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id"/>




        <receiver android:name="com.appsflyer.SingleInstallBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>


        <provider
            android:name="com.sir.Utils.HtmlService.provider.CacheFileProvider"
            android:authorities="com.sir.cacheFileProvider"
            android:exported="true" />


    </application>

</manifest>